body {
  margin: 0;
  font-size: 14px;
  font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.widthFull {
  width: 100% !important;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.font12 {
  font-size: 12px;
}

.font16 {
  font-size: 16px;
}

.font20 {
  font-size: 20px;
}

.bold {
  font-weight: 900;
}

/* 滚动条会一直存在，暂时先不使用 */
/* ::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-style: dashed;
  border-color: transparent;
  border-width: 2px;
  background-color: rgba(157, 165, 183, 0.4);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 165, 183, 0.7);
} */